@charset "UTF-8";
/*
----------------------------
Fonts
-----------------------------
*//*
----------------------------
Inter
-----------------------------
*/
// @font-face {
//     font-family: "Inter";
//     src        : url('../fonts/Inter-Thin.ttf') format('truetype'),
//         url('../fonts/Inter-Thin.woff') format('woff'),
//         url('../fonts/Inter-Thin.woff2') format('woff2');
//     font-weight : 100;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Inter";
//     src        : url('../fonts/Inter-ExtraLight.ttf') format('truetype'),
//         url('../fonts/Inter-ExtraLight.woff') format('woff'),
//         url('../fonts/Inter-ExtraLight.woff2') format('woff2');
//     font-weight : 200;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Inter";
//     src        : url('../fonts/Inter-Light.ttf') format('truetype'),
//         url('../fonts/Inter-Light.woff') format('woff'),
//         url('../fonts/Inter-Light.woff2') format('woff2');
//     font-weight : 300;
//     font-display: swap;
// }

@font-face {
    font-family: "Inter";
    src        : url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight : 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src        : url('../fonts/Inter-Medium.ttf') format('truetype'),
        url('../fonts/Inter-Medium.woff') format('woff'),
        url('../fonts/Inter-Medium.woff2') format('woff2');
    font-weight : 500;
    font-display: swap;
}

// @font-face {
//     font-family: "Inter";
//     src        : url('../fonts/Inter-SemiBold.ttf') format('truetype'),
//         url('../fonts/Inter-SemiBold.woff') format('woff'),
//         url('../fonts/Inter-SemiBold.woff2') format('woff2');
//     font-weight : 600;
//     font-display: swap;
// }

@font-face {
    font-family: "Inter";
    src        : url('../fonts/Inter-Bold.ttf') format('truetype'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight : 700;
    font-display: swap;
}

// @font-face {
//     font-family: "Inter";
//     src        : url('../fonts/Inter-ExtraBold.ttf') format('truetype'),
//         url('../fonts/Inter-ExtraBold.woff') format('woff'),
//         url('../fonts/Inter-ExtraBold.woff2') format('woff2');
//     font-weight : 800;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Inter";
//     src        : url('../fonts/Inter-Black.ttf') format('truetype'),
//         url('../fonts/Inter-Black.woff') format('woff'),
//         url('../fonts/Inter-Black.woff2') format('woff2');
//     font-weight : 900;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Inter";
//     src        : url('../fonts/Inter-BlackItalic.ttf') format('truetype'),
//         url('../fonts/Inter-BlackItalic.woff') format('woff'),
//         url('../fonts/Inter-BlackItalic.woff2') format('woff2');
//     font-weight : 900;
//     font-display: swap;
//     font-style: italic;
// }

/*
----------------------------
CircularStd
-----------------------------
*/
// @font-face {
//     font-family: "CircularStd";
//     src        : url('../fonts/CircularStd-Thin.ttf') format('truetype'),
//         url('../fonts/CircularStd-Thin.woff') format('woff'),
//         url('../fonts/CircularStd-Thin.woff2') format('woff2');
//     font-weight : 100;
//     font-display: swap;
// }

// @font-face {
//     font-family: "CircularStd";
//     src        : url('../fonts/CircularStd-ExtraLight.ttf') format('truetype'),
//         url('../fonts/CircularStd-ExtraLight.woff') format('woff'),
//         url('../fonts/CircularStd-ExtraLight.woff2') format('woff2');
//     font-weight : 200;
//     font-display: swap;
// }

// @font-face {
//     font-family: "CircularStd";
//     src        : url('../fonts/CircularStd-Light.ttf') format('truetype'),
//         url('../fonts/CircularStd-Light.woff') format('woff'),
//         url('../fonts/CircularStd-Light.woff2') format('woff2');
//     font-weight : 300;
//     font-display: swap;
// }

// @font-face {
//     font-family: "CircularStd";
//     src        : url('../fonts/CircularStd-Regular.ttf') format('truetype'),
//         url('../fonts/CircularStd-Regular.woff') format('woff'),
//         url('../fonts/CircularStd-Regular.woff2') format('woff2');
//     font-weight : 400;
//     font-display: swap;
// }

@font-face {
    font-family: "CircularStd";
    src        : url('../fonts/CircularStd-Medium.ttf') format('truetype'),
        url('../fonts/CircularStd-Medium.woff') format('woff'),
        url('../fonts/CircularStd-Medium.woff2') format('woff2');
    font-weight : 500;
    font-display: swap;
}

// @font-face {
//     font-family: "CircularStd";
//     src        : url('../fonts/CircularStd-SemiBold.ttf') format('truetype'),
//         url('../fonts/CircularStd-SemiBold.woff') format('woff'),
//         url('../fonts/CircularStd-SemiBold.woff2') format('woff2');
//     font-weight : 600;
//     font-display: swap;
// }

@font-face {
    font-family: "CircularStd";
    src        : url('../fonts/CircularStd-Bold.ttf') format('truetype'),
        url('../fonts/CircularStd-Bold.woff') format('woff'),
        url('../fonts/CircularStd-Bold.woff2') format('woff2');
    font-weight : 700;
    font-display: swap;
}

// @font-face {
//     font-family: "CircularStd";
//     src        : url('../fonts/CircularStd-ExtraBold.ttf') format('truetype'),
//         url('../fonts/CircularStd-ExtraBold.woff') format('woff'),
//         url('../fonts/CircularStd-ExtraBold.woff2') format('woff2');
//     font-weight : 800;
//     font-display: swap;
// }

@font-face {
    font-family: "CircularStd";
    src        : url('../fonts/CircularStd-Black.ttf') format('truetype'),
        url('../fonts/CircularStd-Black.woff') format('woff'),
        url('../fonts/CircularStd-Black.woff2') format('woff2');
    font-weight : 900;
    font-display: swap;
}

// @font-face {
//     font-family: "CircularStd";
//     src        : url('../fonts/CircularStd-BlackItalic.ttf') format('truetype'),
//         url('../fonts/CircularStd-BlackItalic.woff') format('woff'),
//         url('../fonts/CircularStd-BlackItalic.woff2') format('woff2');
//     font-weight : 900;
//     font-display: swap;
//     font-style: italic;
// }

/*
----------------------------
Roboto
-----------------------------
*/
// @font-face {
//     font-family: "Roboto";
//     src        : url('../fonts/Roboto-Thin.ttf') format('truetype'),
//         url('../fonts/Roboto-Thin.woff') format('woff'),
//         url('../fonts/Roboto-Thin.woff2') format('woff2');
//     font-weight : 100;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Roboto";
//     src        : url('../fonts/Roboto-ExtraLight.ttf') format('truetype'),
//         url('../fonts/Roboto-ExtraLight.woff') format('woff'),
//         url('../fonts/Roboto-ExtraLight.woff2') format('woff2');
//     font-weight : 200;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Roboto";
//     src        : url('../fonts/Roboto-Light.ttf') format('truetype'),
//         url('../fonts/Roboto-Light.woff') format('woff'),
//         url('../fonts/Roboto-Light.woff2') format('woff2');
//     font-weight : 300;
//     font-display: swap;
// }

@font-face {
    font-family: "Roboto";
    src        : url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight : 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src        : url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight : 500;
    font-display: swap;
}

// @font-face {
//     font-family: "Roboto";
//     src        : url('../fonts/Roboto-SemiBold.ttf') format('truetype'),
//         url('../fonts/Roboto-SemiBold.woff') format('woff'),
//         url('../fonts/Roboto-SemiBold.woff2') format('woff2');
//     font-weight : 600;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Roboto";
//     src        : url('../fonts/Roboto-Bold.ttf') format('truetype'),
//         url('../fonts/Roboto-Bold.woff') format('woff'),
//         url('../fonts/Roboto-Bold.woff2') format('woff2');
//     font-weight : 700;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Roboto";
//     src        : url('../fonts/Roboto-ExtraBold.ttf') format('truetype'),
//         url('../fonts/Roboto-ExtraBold.woff') format('woff'),
//         url('../fonts/Roboto-ExtraBold.woff2') format('woff2');
//     font-weight : 800;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Roboto";
//     src        : url('../fonts/Roboto-Black.ttf') format('truetype'),
//         url('../fonts/Roboto-Black.woff') format('woff'),
//         url('../fonts/Roboto-Black.woff2') format('woff2');
//     font-weight : 900;
//     font-display: swap;
// }

// @font-face {
//     font-family: "Roboto";
//     src        : url('../fonts/Roboto-BlackItalic.ttf') format('truetype'),
//         url('../fonts/Roboto-BlackItalic.woff') format('woff'),
//         url('../fonts/Roboto-BlackItalic.woff2') format('woff2');
//     font-weight : 900;
//     font-display: swap;
//     font-style: italic;
// }