@function toRem($value) {
    $remValue   : calc($value / 16) + rem;
    // $remValue: $value + px; 
    @return $remValue;
}

@mixin InterRegular($size_px) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size  : toRem($size_px);
    font-style : normal;
}
@mixin InterMedium($size_px) {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size  : toRem($size_px);
    font-style : normal;
}
// @mixin InterSemiBold($size_px) {
//     font-family: 'Inter', sans-serif;
//     font-weight: 600;
//     font-size  : toRem($size_px);
//     font-style : normal;
// }
@mixin InterBold($size_px) {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size  : toRem($size_px);
    font-style : normal;
}
// @mixin InterBlackItalic($size_px) {
//     font-family: 'Inter', sans-serif;
//     font-weight: 900;
//     font-size  : toRem($size_px);
//     font-style : italic;
// }

@mixin CircularStdMedium($size_px) {
    font-family: 'CircularStd', sans-serif;
    font-weight: 500;
    font-size  : toRem($size_px);
    font-style : normal;
}
@mixin CircularStdBold($size_px) {
    font-family: 'CircularStd', sans-serif;
    font-weight: 700;
    font-size  : toRem($size_px);
    font-style : normal;
}
@mixin CircularStdBlackItalic($size_px) {
    font-family: 'CircularStd', sans-serif;
    font-weight: 900;
    font-size  : toRem($size_px);
    font-style : italic;
}

@mixin RobotoRegular($size_px) {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size  : toRem($size_px);
    font-style : normal;
}
@mixin RobotoMedium($size_px) {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size  : toRem($size_px);
    font-style : normal;
}